<h1>Events</h1>

{{#each events}}

    <div class="card-deck">
        <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <h4>Event time: {{this.eventDate}}</h4>
        <p>hello sh{{user}}</p>
        <script>console.log(user)</script>
      <p class="card-text">{{this.description}}</p>
    </div>
     <p><a href="/events/show/{{this._id}}"`>Show event</a></p>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  
{{/each}}