<style>
    .card{
        margin-left: 60px;
        margin-right: 60px;
    }
</style>

<script>


</script>

<div class="card">
    <h5 class="card-header">{{event.title}}</h5>
    <div class="card-body">
        <h5 class="card-title">Event time: {{event.eventDate}}</h5>
        <p class="card-text">{{event.description}}</p>
        <p class="card-text">
            Attendees:
            {{#each event.attendees}}
                <li>{{.}}</li>
            {{/each}}
        </p>
        {{#if user}}
            <p class="btn btn-outline-success"><a href="/events/attend/{{event._id}}">Attend event</a></p>
        {{/if}}
        {{#ifCond event.user._id  user.id }}
        <div class="d-flex justify-content-start">
            <p class="btn btn-outline-success"><a href="/events/edit/{{event._id}}">Edit event</a></p>
            <p class="btn btn-outline-success"><a href="/events/show/{{event._id}}?_method=DELETE">Delete event</a></p>
        </div>
        {{/ifCond}}
  </div>
</div>


