<style>
    .card{
        width:33%;
        margin: 15px;
        box-shadow: 10px 5px 5px rgba(211, 45, 62, 0.568);
    }

    .row{
        margin-right: 30px;
        margin-left: 30px;
        justify-content: center
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    h1{
       text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>


<h1> DashBoard</h1>
<p style="text-align:center"> Welcome back {{user.email}} </p>
<h1>My Events</h1>
{{#if events}}
  <div class="row">
    {{#each events}}

    <div class="card">
        {{!-- {{#if this.image}} --}}
        <img src="../../upload/{{this.image}}" class="card-img-top" alt="...">
        {{!-- {{/if}} --}}
        <div class="card-body">
            <h3 class="card-title">{{this.title}}</h3>
            <h7>Event time: {{this.eventDate}}</h7>
            <p class="card-text"><p class="card-text">{{this.description}}</p></p>
            <p><a href="/events/show/{{this._id}}" class="btn btn-primary"`>Show event</a></p>
        </div>
    </div>
    {{/each}}
    </div>
{{/if}}